.page-container {
    margin: 4em;
    &#home {
        text-align: center;
    }
}

body {
    background-color:#3B70F7;
}

.subheading {
    text-align: center;
    color: white;
    padding: 1em;
    margin: 0 1em;
}

.heading {
    text-align: center;
    color: white;
}