// Code referenced from https://www.youtube.com/watch?v=1-CvPn4AbT4&ab_channel=CodingNepal

.music-container {
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    background: #628DF8;
    width: 380px;
    border-radius: 15px;
    padding: 25px 30px;

    i {
        cursor: pointer;
        color: white;
    }
}

.top-bar, .progress-area .song-timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    span {
        font-size: 18px;
        color: white;
    }
}

.img-area {
    height: 256px;
    width: 100%;
    margin-top: 25px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        position: relative;
    }
} 

.img-dp {

    img {
        border-radius: 100%;
        position: relative;
        width: 40%;
        text-align: center;
        margin: auto;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 200px;

        animation: rotate 3s linear infinite;

        animation-play-state: paused;
    }
}

.music-container.play {
    .img-dp {
        img {
            animation-play-state: running;
        }
    }
}


// create rotating disc
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.song-details {
    text-align: center;
    margin: 30px 0;

    .name {
        font-size: 21px;
        color: white;
        font-family: Avenir Medium;
    }

    .artist {
        font-size: 18px;
        color: white;
        opacity: 0.9;
    }
}

.progress-area {
    height: 6px;
    width: 100%;
    background: white;
    border-radius: 50px;
    cursor: pointer;

    .progress-bar {
        height: inherit;
        position: relative;
        width: 50%;
        border-radius: inherit;
        background: #3B70F7;
    }

    .progress-bar::before {
        content: "";
        position: absolute;
        height: 12px;
        width: 12px;
        background: black;
        border-radius: inherit;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        background: inherit;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.progress-area {
    .song-timer {
        margin-top: 2px;

        span {
            font-size: 13px;
        }
    }
}

.music-controls {
    margin: 40px 0 5px 0;
    color: #3B70F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 150px;

    i {
        font-size: 28px;
        user-select: none;
        background-color: #3B70F7;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .play-pause {
        height: 54px;
        width: 54px;
        background: white;
        border-radius: 50%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .prev-song {
        height: 40px;
        width: 40px;
        background: white;
        border-radius: 50%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }

    .next-song {
        height: 40px;
        width: 40px;
        background: white;
        border-radius: 50%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

.music-list {
    margin: auto;
    padding-bottom: 60px;

    .header {
        text-align: center;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        color: white;
        font-family: Avenir Medium;
    }

    .row {
        background: white;
        border-radius: 5px;
        width: 380px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    li {
        list-style: none;
        color: #3B70F7;
    }

    ul {
        padding: 0;

        .playing {
            font-weight: bold;
            padding: 0;
        }
    }
    
}